.container {
  padding: 40px 20px;
  background-color: #f5f5f5;  
  min-height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 99px;
  gap: 93px;
}

.product-grid {
  display: grid;
  gap: 30px;
  max-width: 1100px;
  width: 100%;

  grid-template-columns: 1fr;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
}

.image-section {
  height: 350px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px;
}

.blue {
  background-color: #eef6ff;
}
.black {
  background-color: #f0faff;
}
.teal {
  background-color: #eafffa;
}

.discount-badge {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 55px;
  height: 55px;
  background-color: #14b8a6;
  color: white;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.discount-badge strong {
  font-size: 14px;
}

.product-img {
  max-height: 80%;
  transition: transform 0.3s ease;
}

.product-img:hover {
  transform: scale(1.1);
}

.info-section {
  background: white;
  margin: -40px 20px 0;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  z-index: 2;
}

.product-title {
  margin: 0;
  color: #333;
  font-size: 18px;
}

.rating {
  margin: 8px 0;
  font-size: 12px;
}

.stars {
  color: #ef4444;
  margin-right: 8px;
}
.reviews {
  color: #999;
}
.price {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.add-btn {
  margin-top: 15px;
  background-color: #10b981;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
}

.add-btn:hover {
  background-color: #059669;
}

@media (min-width: 640px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
