* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    padding: 18px 0;
    background: #ffffff;
    font-family: sans-serif;
}

.wrapper {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
}

.logo {
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    letter-spacing: -1px;
    color: #1a1a1a;
}

.logo .green {
    color: #10b981;
}

.search-box {
    display: flex;
    align-items: center;
    background: #ffffff;
    border-radius: 12px;
    padding: 6px 6px 6px 20px;
    width: 25%;
    box-shadow: 0px 15px 50px 0px #2E839E12;
    border: 1px solid #f8f8f8;
}

.search-box input {
    flex: 1;
    border: none;
    background: none;
    outline: none;
    font-size: 15px;
    color: #6b7280;
}

.s-btn {
    background: #10b981;
    border: none;
    color: white;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s;
}

.s-btn:hover {
    background: #059669;
}

.actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.cart-link {
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid #10b981;
    padding: 10px 24px;
    border-radius: 100px;
    cursor: pointer;
    font-weight: 500;
    color: #374151;
    transition: 0.2s;
}

.cart-link .green {
    color: #10b981;
}

.auth-btn {
    background: #10b981;
    color: #ffffff;
    border: none;
    padding: 12px 28px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
    box-shadow: 0 10px 20px rgba(16, 185, 129, 0.2);
    transition: transform 0.2s;
}

.auth-btn:active {
    transform: scale(0.98);
}


@media (max-width: 992px) {
    .search-box {
        width: 30%;
    }
}

@media (max-width: 768px) {
    .wrapper {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    .search-box {
        width: 100%;
        order: 3;
    }

    .actions {
        width: 100%;
        justify-content: space-between;
    }
}

@media (max-width: 480px) {

    .cart-link span,
    .auth-btn span {
        display: none;
    }

    .cart-link,
    .auth-btn {
        padding: 10px 15px;
    }
}